<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css"
	th:href="@{../resources/css/estilos.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{../../resources/css/estilos.css}">
<title>Insert title here</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light"
			th:classappend="${theme} + -primary">
			<a class="navbar-brand" th:href="@{/}"> <span class="text-white"
				th:utext="${theme.equals('crm')} ? 'Gestão de Relacionamento' : 'WEBCIP'"></span>
			</a>
			<button class="navbar-toggler " type="button" data-toggle="collapse"
				data-target="#navbar" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse text-center" id="navbar">
				<ul class="navbar-nav mr-auto">
					<!-- <li class="nav-item"><a class="nav-link text-white"
						href="/CRMMock/dbconsole">DBConsole</a></li> -->
					<li class="nav-item"><a class="nav-link text-white" th:href="@{/}">Início</a></li>
					<div th:switch="${user.authenticated}">
						<li th:case="true" class="nav-item"><a class="nav-link text-white"
							th:href="@{/logout}">Logout</a></li>
						<li th:case="false" class="nav-item"><a class="nav-link text-white"
							th:href="@{/loginForm}">Login</a></li>
					</div>
				</ul>
				<a>
						<span class="text-white"th:utext="${user.username}"></span>
				</a>
			</div>
		</nav>

		
	</header>


	<div class="container">

		<form th:action="@{/feriado/} + ${action}" th:object="${feriadoform}"
			method="post">

			<input type="hidden" th:field="*{id}" /> <br> <br>
			
			<div class="form-group">
			    <label for="descricao">Descrição</label>
			    <input class="form-control" type="text" id="descricao" th:name="descricao" th:id="descricao" th:value="${feriado.descricao}"/> 
			</div>
			
			<div class="form-row">
				<div class="col">
				    <label for="data">Data</label>
			    		<input class="form-control" type="text" id="data" th:name="data" th:id="data" th:value="${feriado.data}"/> 
			    	</div>

				<div class="col">
				    <label for="situacao">Situação</label>
				    <input class="form-control" type="text" id="situacao" th:name="situacao" th:id="situacao" th:value="${feriado.situacao}"/> 
				    <!-- <div th:switch="${action}">
				    		<select th:case="salvar" th:name="situacao" th:id="situacao" class="form-control" id="situacao" disabled>
						    <option th:text="true" th:value="true"></option>
						    <option>Inativo(a)</option>
						</select>
						<select th:case="alterar" class="form-control" id="situacao">
						    <option th:name="situacao" th:id="situacao" th:text="Ativo(a)" th:value="true"></option>
						    <option>Inativo(a)</option>
						</select>
				    
						<li th:case="true" class="nav-item"><a class="nav-link text-white"
							th:href="@{/logout}">Logout</a></li>
						<li th:case="false" class="nav-item"><a class="nav-link text-white"
							th:href="@{/loginForm}">Login</a></li> 
					</div>-->
			    </div>
			</div>

			<div class="form-row">
				<div class="col">
				    <label for="tipoFeriado">Tipo Feriado</label>
				    <input class="form-control" type="text" id="tipoFeriado" th:name="tipoFeriado" th:id="tipoFeriado" th:value="${feriado.tipoFeriado}"/> 
				</div>
				<div class="col">
				    <label for="tipoRequisicao">Tipo de Requisição</label>
				    <input class="form-control" type="text" id="tipoRequisicao" th:name="tipoRequisicao" th:id="tipoRequisicao" th:value="${feriado.tipoRequisicao}"/> 
				</div>
			</div>

			<button type="submit" class="btn btn-primary">
				<span th:utext="${submitButton}"></span>
			</button>
		</form>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>