<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<link rel="stylesheet" type="text/css"
	th:href="@{resources/css/estilos.css}">

<title>Insert title here</title>
</head>
<body>

	<header>
		<nav class="navbar navbar-expand-lg navbar-light"
			th:classappend="${theme} + -primary">
			<a class="navbar-brand" th:href="@{/}"> <span class="text-white"
				th:utext="${theme.equals('crm')} ? 'Gestão de Relacionamento' : 'WEBCIP'"></span>
			</a>
			<button class="navbar-toggler " type="button" data-toggle="collapse"
				data-target="#navbar" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse text-center" id="navbar">
				<ul class="navbar-nav mr-auto">
					<!-- <li class="nav-item"><a class="nav-link text-white"
						href="/CRMMock/dbconsole">DBConsole</a></li> -->
					<li class="nav-item"><a class="nav-link text-white"
						th:href="@{/}">Início</a></li>
					
				</ul>
				<div class="text-white" th:switch="${user.authenticated}">
						<!-- <li th:case="true" class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
						<li th:case="false" class="nav-item"><a class="nav-link" th:href="@{/loginForm}">Login</a></li> -->


						<div th:case="true" class="dropdown">
							<button class="btn btn-sm btn-primary dropdown-toggle"
								type="button" data-toggle="dropdown">
								<span th:utext="${user.username}"></span>
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/logout}">Sair</a>
							</div>
						</div>
						<a th:case="false" class="nav-link active" th:href="@{/loginForm}">Login</a>
					</div>
			</div>

		</nav>

		<ul class="nav justify-content-center bg-light">
			<li class="nav-item"><a class="nav-link active"
				th:href="@{/feriado/incluir}">Novo</a></li>
			<!-- <li class="nav-item"><a class="nav-link" href="#">Excluir</a></li> -->
			<li class="nav-item"><a class="nav-link disabled" href="#">Gerar
					Relatório</a></li>
			<li class="nav-item"><a class="nav-link disabled" href="#">Painel</a>
			</li>
		</ul>
	</header>


	<div class="container bodycontainer">
		<table class="table table-striped table-scrollable">
			<thead>
				<tr>
					<!-- <th scope="col">#</th> -->
					<th scope="col">Nome</th>
					<th scope="col">Data</th>
					<th scope="col">Tipo Feriado</th>
					<th scope="col">Status</th>
					<th scope="col">Status de Aprovação</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="feriado : ${feriados}"
					th:switch="${feriado.situacao.equals('Ativo(a)')}">
					<td scope="row" th:text="${feriado.descricao}"></td>
					<td scope="row" th:text="${feriado.data}"></td>
					<td scope="row" th:text="${feriado.tipoFeriado}"></td>
					<td scope="row" th:text="${feriado.situacao}"></td>
					<td scope="row">Aprovado</td>
					<td scope="row"><a
						th:href="@{/feriado/alterar/{feriadoId}(feriadoId=${feriado.id})}"
						class="btn btn-sm btn-primary">Atualizar</a></td>
					<td scope="row" th:case="true"><a
						th:href="@{/feriado/inativar/{feriadoId}(feriadoId=${feriado.id})}"
						class="btn btn-sm btn-primary">Inativar</a></td>
					<td scope="row" th:case="false"><a
						th:href="@{/feriado/ativar/{feriadoId}(feriadoId=${feriado.id})}"
						class="btn btn-sm btn-primary">Ativar</a></td>
				</tr>
			</tbody>

		</table>
	</div>




	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>