<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/Users/Felipe/Documents/Minerva/CRMMock/src/CRMMock/src/main/webapp/resources/css"
	th:href="@{resources/css/estilos.css}">

<title>Insert title here</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light"
			th:classappend="${theme} + -primary">
			<a class="navbar-brand" href="#"> <span class="text-white"
				th:utext="${theme.equals('crm')} ? 'Gestão de Relacionamento' : 'WEBCIP'"></span>
			</a>
			<button class="navbar-toggler " type="button" data-toggle="collapse"
				data-target="#navbar" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse text-center" id="navbar">
				<ul class="navbar-nav mr-auto">
					<!-- <li class="nav-item"><a class="nav-link text-white"
						href="/CRMMock/dbconsole">DBConsole</a></li> -->
				</ul>
				<!-- Rounded switch -->
				<form th:action="@{/changeTheme}" th:object="${theme}" method="post">

					<label class="switch"> <input type="checkbox"
						onclick="this.form.submit();" th:checked="${theme.equals('web')}"> <span
						class="slider round"></span>
					</label>
					<!-- <button type="submit" class="btn btn-primary">Entrar</button> -->
				</form>
				<!--<a class="nav-link active" th:href="@{/feriado}">Novo</a> -->
			</div>
		</nav>
	</header>
	<br>

	<div class="logingForm">
		<form class="float-right" th:action="@{/efetuaLogin}"
			th:object="${loginform}" method="post">

			<h3>Username</h3>
			<input type="text" th:value="${admin}" th:field="*{username}" />

			<h3>Senha</h3>
			<input type="password" th:value="${admin}" th:field="*{password}" /> <br>
			<br>

			<button type="submit" class="btn btn-primary">Entrar</button>
		</form>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>